@font-face{
  font-family:"SFUIText";
  src:url("//www.188bet.net/sites/all/themes/bet188br/fonts/SFText-Light.otf") format("opentype");
  font-style:normal;
  font-weight:300;
}
@font-face{
  font-family:"SFUIText";
  src:url("//www.188bet.net/sites/all/themes/bet188br/fonts/SFText-LightItalic.otf") format("opentype");
  font-style:italic;
  font-weight:300;
}
@font-face{
  font-family:"SFUIText";
  src:url("//www.188bet.net/sites/all/themes/bet188br/fonts/SFText-Regular.otf") format("opentype");
  font-style:normal;
  font-weight:400;
}
@font-face{
  font-family:"SFUIText";
  src:url("//www.188bet.net/sites/all/themes/bet188br/fonts/SFText-RegularItalic.otf") format("opentype");
  font-style:italic;
  font-weight:400;
}
@font-face{
  font-family:"SFUIText";
  src:url("//www.188bet.net/sites/all/themes/bet188br/fonts/SFText-Medium.otf") format("opentype");
  font-style:normal;
  font-weight:500;
}
@font-face{
  font-family:"SFUIText";
  src:url("//www.188bet.net/sites/all/themes/bet188br/fonts/SFText-MediumItalic.otf") format("opentype");
  font-style:italic;
  font-weight:500;
}
@font-face{
  font-family:"SFUIText";
  src:url("//www.188bet.net/sites/all/themes/bet188br/fonts/SFText-Semibold.otf") format("opentype");
  font-style:normal;
  font-weight:600;
}
@font-face{
  font-family:"SFUIText";
  src:url("//www.188bet.net/sites/all/themes/bet188br/fonts/SFText-SemiboldItalic.otf") format("opentype");
  font-style:italic;
  font-weight:600;
}
@font-face{
  font-family:"SFUIText";
  src:url("//www.188bet.net/sites/all/themes/bet188br/fonts/SFText-Bold.otf") format("opentype");
  font-style:normal;
  font-weight:700;
}
@font-face{
  font-family:"SFUIText";
  src:url("//www.188bet.net/sites/all/themes/bet188br/fonts/SFText-BoldItalic.otf") format("opentype");
  font-style:italic;
  font-weight:700;
}
@font-face{
  font-family:"SFUIText";
  src:url("//www.188bet.net/sites/all/themes/bet188br/fonts/SFText-Heavy.otf") format("opentype");
  font-style:normal;
  font-weight:900;
}
@font-face{
  font-family:"SFUIText";
  src:url("//www.188bet.net/sites/all/themes/bet188br/fonts/SFText-HeavyItalic.otf") format("opentype");
  font-style:italic;
  font-weight:900;
}
